body {
    margin: 0;
}

header {
    background-color: #171a20;
    max-width: 1800px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header-logo-steam img {
    width: 176px;
    height: 44px;
}

nav a {
    color: #848485;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px 7px;
}

.header-user-info {
width: 300px;
height: 104px;
}

.header-install-btn {
    width: 130px;
    height: 24px;

    background-color: #616a72;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.header-install-btn a {
    text-decoration: none;
    color: #e5e4dc;
}