html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("background.jpg");
}

header {
    background-color: #171a20;
    max-width: 1920px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-steam img {
    width: 176px;
    height: 44px;
}

nav a {
    margin: 0px 0px 0px 25px;
    color: #848485;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 7px;
}

.header-user-info {
    width: 300px;
    height: 104px;
    display: flex;
}

.header-install-btn {
    width: 130px;
    height: 24px;
    margin: 5px 10px 0px 0px;
    background-color: #616a72;
    text-align: end;
    display: table-cell;
    vertical-align: middle;
}

.header-install-btn a {
    padding: 0px 15px 0px 0px;
    font-size: 12px;
    text-decoration: none;
    color: #e5e4dc;
}

.header-notifications-btn {
    background-color: #262625;
    width: 11px;
    height: 24px;
    padding: 0px 8px;
    margin: 5px 10px 0px 0px;
    display: flex;
    justify-content: center;
}

.header-notifications-btn img {
    width: 11px;
    height: 8px;
}

.header_menu_nickname {
    width: 40px;
    height: 24px;
    margin: 5px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_menu_nickname a {
    color: #848485;
    font-size: 12px;
    text-decoration: none;
}

.header-arrow-down {
    width: 2px;
    height: 24px;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-avatar {
    width: 36px;
    height: 36px;
    margin: 5px 10px 0px 0px;
    background-color: rgb(56, 54, 54);
    border: 2px solid rgb(63, 63, 240);
}

.header-menu-money {
    height: 16px;
    width: 40px;   
}

.header-menu-money a{
    text-decoration: none;
    font-size: 11px;
    color: #848485;
}

.profile_header_background {
    max-width: 976px;
    min-height: 224px;
    margin: 0 auto;
    background-color: #171717;
}

.porfile_avatar img {
    padding: 30px 0px 30px 21px;
    width: 164px;
    height: 164px;
}
